<section class="servicos">
    <div class="titulo">
        <h1>Como buscar ajuda?</h1>
        <h2>Serviços de apoio</h2>
    </div>
    <div class="card-container">

        <mat-card
        appearance="outlined"
        class="card"
        [class.hovering]="hoveredCard === 1 && selectedCard !== 1"
        [class.selected]="selectedCard === 1"
        (click)="toggleCard(1)"
        (mouseenter)="hoveredCard = 1"
        (mouseleave)="hoveredCard = null">
            <mat-card-header>
                <mat-card-title>Centro de Referência de Atendimento à Mulher (CRM)</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>As mulheres devem procurar, em primeiro lugar, um Centro de Referência de Atendimento à Mulher (CRM) em sua cidade. No CRM, elas podem receber orientações para entender a situação pela qual estão passando e obter informações sobre a Lei Maria da Penha e como romper o ciclo da violência. Dessa forma, as mulheres vão se empoderar e decidir o melhor momento de fazer a denúncia.</p>
            </mat-card-content>
        </mat-card>
    
        <mat-card
        appearance="outlined"
        class="card"
        [class.hovering]="hoveredCard === 2 && selectedCard !== 2"
        [class.selected]="selectedCard === 2"
        (click)="toggleCard(2)"
        (mouseenter)="hoveredCard = 2"
        (mouseleave)="hoveredCard = null">
            <mat-card-header>
                <mat-card-title>Na minha cidade não tem CRM, onde procuro ajuda?</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Nos locais em que não existe esse equipamento ou nenhum serviço especializado, é possível buscar apoio nas Unidades Básicas de Saúde (UBS), nos Centros de Referência da Assistência Social (CRAS) e nos Centros de Referência Especializados de Assistência Social (CREAS), assim como nos núcleos da Defensoria Pública e do Ministério Público.</p>
            </mat-card-content>
        </mat-card>
    
        <mat-card
        appearance="outlined"
        class="card"
        [class.hovering]="hoveredCard === 3 && selectedCard !== 3"
        [class.selected]="selectedCard === 3"
        (click)="toggleCard(3)"
        (mouseenter)="hoveredCard = 3"
        (mouseleave)="hoveredCard = null">
            <mat-card-header>
                <mat-card-title>Ligue 180</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Vale lembrar que o Ligue 180 é um serviço do Governo Federal que funciona 24 horas por dia durante todos os dias da semana. Por meio desse canal, a mulher pode registrar denúncias e saber mais sobre os programas ou equipamentos disponíveis para atendê-la – o Ligue 180 também recebe denúncias, inclusive anônimas.</p>
            </mat-card-content>
        </mat-card>
    
        <mat-card
        appearance="outlined"
        class="card"
        [class.hovering]="hoveredCard === 4 && selectedCard !== 4"
        [class.selected]="selectedCard === 4"
        (click)="toggleCard(4)"
        (mouseenter)="hoveredCard = 4"
        (mouseleave)="hoveredCard = null">
            <mat-card-header>
                <mat-card-title>Delegacia Especializada no Atendimento à Mulher (DEAM)</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Além disso, é possível recorrer a uma Delegacia Especializada no Atendimento à Mulher (DEAM) ou a uma Delegacia de Defesa da Mulher (DDM). Se o município não possui esse serviço, as Delegacias de Polícia podem registrar as ocorrências. Em casos emergenciais, quando a mulher estiver sob ameaça ou risco de morte, recomenda-se ligar para o 190.</p>
            </mat-card-content>
        </mat-card>
    
        <mat-card
        appearance="outlined"
        class="card"
        [class.hovering]="hoveredCard === 5 && selectedCard !== 5"
        [class.selected]="selectedCard === 5"
        (click)="toggleCard(5)"
        (mouseenter)="hoveredCard = 5"
        (mouseleave)="hoveredCard = null">
            <mat-card-header>
                <mat-card-title>Serviços de Apoio Online</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Muitos Estados do Brasil passaram a fazer o Boletim de Ocorrência eletrônico, sobretudo a partir do contexto da pandemia, com o objetivo de ampliar o acesso das mulheres a mecanismos de denúncia e facilitar o registro de ocorrências de violência doméstica e familiar. Basta procurar “Delegacia Eletrônica/Virtual/Online” na internet e digitar o nome do Estado em que o fato ocorreu. Quando abrir o Boletim de Ocorrência eletrônico, é só selecionar “Violência Doméstica”.</p>
            </mat-card-content>
        </mat-card>
    
        <mat-card
        appearance="outlined"
        class="card"
        [class.hovering]="hoveredCard === 6 && selectedCard !== 6"
        [class.selected]="selectedCard === 6"
        (click)="toggleCard(6)"
        (mouseenter)="hoveredCard = 6"
        (mouseleave)="hoveredCard = null">
            <mat-card-header>
                <mat-card-title> Lei Maria da Penha n. 11.340/2006</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>A Lei Maria da Penha representa uma conquista para todas as brasileiras e deve ser acionada no enfrentamento à violência. As mulheres precisam saber que têm os seus direitos garantidos por meio da Lei n. 11.340/2006, incluindo o acesso à Justiça, à saúde física e mental, à dignidade e à liberdade, entre outros.</p>
            </mat-card-content>
        </mat-card>  
        
        <mat-card
        appearance="outlined"
        class="card-linha"
        [class.hovering]="hoveredCard === 7 && selectedCard !== 7"
        [class.selected]="selectedCard === 7"
        (click)="toggleCard(7)"
        (mouseenter)="hoveredCard = 7"
        (mouseleave)="hoveredCard = null">
            <mat-card-content>
                <p>Todos esses recursos são muito importantes para quem é vítima da violência de gênero. E quando a mulher revela as agressões que sofre, ela dá um passo importante para quebrar o ciclo. </p>
            </mat-card-content>
        </mat-card>  
    </div>
</section>
