* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos {
    width: 100%;    
    background-color: white;
    text-align: center;
    align-items: center;
}

.titulo {
    width: 100%;
    background-color: #f7f7f7;
    padding-top: 40px;
    max-width: 1300px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.76);
}

.servicos h1{
    font-size: 2.5em;
    padding-bottom: 10px;
}

.servicos h2 {
    font-size: 1.5em;
    padding-bottom: 40px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    max-width: 1300px;
    background-color: #f7f7f7;
}

.card {
    z-index: 1; // Garante que os cards fiquem abaixo da navbar
    max-width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 16px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif; // Define a fonte do texto
    color: rgba(0, 0, 0, 0.76); // Define a cor do texto
    transition: transform 0.3s ease-in-out; // Adiciona uma transição suave ao transformar o card
    cursor: pointer; // Define o cursor como "pointer" ao passar o mouse    position: relative; // Necessário para efeitos de sombra ou elementos posicionados    overflow: hidden; // Esconde conteúdo que ultrapassa os limites do card    border: 1px solid #ccc; // Adiciona uma borda cinza clara ao card}
}

mat-card-content {
    font-size: 1em; // Tamanho do texto dentro do card
    line-height: 1.5; // Altura da linha para melhorar a legibilidade
    text-align: justify; // Alinha o texto para justificar
    padding: 10px; // Espaçamento interno para o texto
}

mat-card-title {
    font-size: 1.2em; // Tamanho do título do card
    font-weight: bold; // Deixa o título em negrito
    margin-bottom: 10px; // Espaçamento abaixo do título
    text-align: center; // Centraliza o título
}