<section class="sobre">
    <div class="titulo">
        <h1>O que é Violência Doméstica?</h1>
        <h2>Entenda os sinais de alerta.</h2>
    </div>
    <div class="card-container">

        <mat-card
        appearance="outlined"
        class="card"
        [class.hovering]="hoveredCard === 1 && selectedCard !== 1"
        [class.selected]="selectedCard === 1"
        (click)="toggleCard(1)"
        (mouseenter)="hoveredCard = 1"
        (mouseleave)="hoveredCard = null">
            <mat-card-header>
                <mat-card-title>Quem pode ser vítima de violência doméstica?</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Esse tipo de violência pode afetar <strong>crianças, adolescentes, mulheres e idosos</strong>, sendo que, na maioria dos casos, os agressores são familiares próximos das vítimas. Um dos principais fatores que contribuem para a <strong>violência física</strong>, como espancamentos, é o comportamento agressivo e instável do agressor, que tem dificuldade em lidar com frustrações do dia a dia e problemas no convívio familiar.</p>
            </mat-card-content>
        </mat-card>

        <mat-card
        appearance="outlined"
        class="card"
        [class.hovering]="hoveredCard === 2 && selectedCard !== 2"
        [class.selected]="selectedCard === 2"
        (click)="toggleCard(2)"
        (mouseenter)="hoveredCard = 2"
        (mouseleave)="hoveredCard = null">
            <mat-card-header>
                <mat-card-title>Perfil do agressor</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>O agressor geralmente apresenta características como <strong>autoritarismo, impaciência, irritabilidade, agressividade verbal e xingamentos constantes</strong>. Muitas vezes, esses comportamentos estão associados ao consumo de <strong>álcool e drogas</strong>.</p>
            </mat-card-content>
        </mat-card>

        <mat-card
        appearance="outlined"
        class="card"
        [class.hovering]="hoveredCard === 3 && selectedCard !== 3"
        [class.selected]="selectedCard === 3"
        (click)="toggleCard(3)"
        (mouseenter)="hoveredCard = 3"
        (mouseleave)="hoveredCard = null">
            <mat-card-header>
                <mat-card-title>Tipos de violência doméstica</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li><strong>Violência física:</strong> Afeta principalmente crianças de até cinco anos, sendo caracterizada por agressões e espancamentos.</li>
                    <li><strong>Abuso sexual:</strong> Ocorre com maior frequência entre meninas de <strong>7 a 10 anos</strong>.</li>
                    <li><strong>Violência moral e psicológica:</strong> Atinge principalmente <strong>adolescentes e mulheres</strong>, causando danos emocionais profundos.</li>
                    <li><strong>Violência contra idosos:</strong> Muitas vezes, os agressores são cuidadores ou pessoas contratadas pela família para assisti-los.</li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card
        appearance="outlined"
        class="card"
        [class.hovering]="hoveredCard === 4 && selectedCard !== 4"
        [class.selected]="selectedCard === 4"
        (click)="toggleCard(4)"
        (mouseenter)="hoveredCard = 4"
        (mouseleave)="hoveredCard = null">
            <mat-card-header>
                <mat-card-title>Impacto na vida das crianças</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>O ambiente familiar influencia diretamente o comportamento das crianças na escola.</p>
                <ul>
                    <li>Crianças que crescem em um ambiente <strong>agressivo</strong> tendem a reproduzir esse comportamento com colegas e professores ou podem se tornar extremamente isoladas.</li>
                    <li>Já aquelas que vivem em um ambiente de <strong>amor, respeito e amizade</strong> conseguem se relacionar melhor e apresentam um desenvolvimento mais saudável.</li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card
        appearance="outlined"
        class="card"
        [class.hovering]="hoveredCard === 5 && selectedCard !== 5"
        [class.selected]="selectedCard === 5"
        (click)="toggleCard(5)"
        (mouseenter)="hoveredCard = 5"
        (mouseleave)="hoveredCard = null">
            <mat-card-header>
                <mat-card-title>Violência Psicológica</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Além das agressões físicas, a violência doméstica também pode ocorrer de maneira psicológica, atingindo principalmente <strong>mulheres e adolescentes</strong>. Esse tipo de abuso destrói a autoestima da vítima por meio de <strong>humilhações, insultos, ameaças e intimidações</strong>, sem deixar marcas visíveis no corpo, mas causando grandes danos emocionais.</p>
            </mat-card-content>
        </mat-card>

        <mat-card
        appearance="outlined"
        class="card"
        [class.hovering]="hoveredCard === 6 && selectedCard !== 6"
        [class.selected]="selectedCard === 6"
        (click)="toggleCard(6)"
        (mouseenter)="hoveredCard = 6"
        (mouseleave)="hoveredCard = null">
            <mat-card-header>
                <mat-card-title>Violência doméstica e familiar</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Diante de qualquer situação de violência doméstica, é fundamental que as vítimas ou testemunhas <strong>denunciem</strong> aos órgãos especializados. Isso pode ajudar a proteger as vítimas, retirá-las desse ciclo de sofrimento e mostrar ao agressor que seus atos não ficarão impunes. Afinal, quem pratica violência dentro de casa contra pessoas indefesas <strong>não é poderoso, mas sim um covarde</strong>.</p>
            </mat-card-content>
        </mat-card>

        <mat-card
        appearance="outlined"
        class="card"
        [class.hovering]="hoveredCard === 7 && selectedCard !== 7"
        [class.selected]="selectedCard === 7"
        (click)="toggleCard(7)"
        (mouseenter)="hoveredCard = 7"
        (mouseleave)="hoveredCard = null">
            <mat-card-header>
                <mat-card-title>A importância da denúncia</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Outro grupo frequentemente afetado são as <strong>crianças com necessidades especiais</strong>. Muitas vezes, as próprias mães tornam-se agressoras devido à sobrecarga de responsabilidades. Além disso, algumas mães podem recorrer à violência física quando há uma quebra no vínculo afetivo com os filhos. Isso pode levar a dificuldades no desenvolvimento infantil e dificultar o aprendizado na escola.</p>
            </mat-card-content>
        </mat-card>            
    </div>
</section>

