* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: #4B0082;
}

.navbar {
    background-color: #4B0082;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.navbar.hidden {
    transform: translateY(-100%); 
}

.logo {
    padding: 10px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.logo h1 {
    padding: 20px;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.logo img{
    height: 90px;
    margin-right: 10px;
    object-fit: contain;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1.4em;
}

nav ul li a:hover {
    color: violet;
}

.menu-icon{
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        background-color: #333;
        width: 100%;
        padding: 10px;
    }

    nav ul.active {
        display: flex;    
    }
}

.footer {
    background-color: #4B0082;
    color: white;
    text-align: center;
    padding: 20.3px;
    position: relative; // Alterado de fixed para relative
    width: 100%;
    z-index: 1000;
    margin-top: 50px; // Adicionado espaçamento acima do footer
}

.footer p {
    margin: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
