<section class="contato">
  <div class="titulo">
    <h1>Contatos</h1>
  </div>
  <div class="card-container">
    <br>

    <mat-card 
    appearance="outlined"
    class="card"
    [class.hovering]="hoveredCard === 1 && selectedCard !== 1"
    [class.selected]="selectedCard === 1"
    (click)="toggleCard(1)"
    (mouseenter)="hoveredCard = 1"
    (mouseleave)="hoveredCard = null"
    >
        <mat-card-header>
            <mat-card-title>
              Telefone
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>texto</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" routerLink="/contato">Saiba mais</button>
        </mat-card-actions>
    </mat-card>

    <mat-card
    appearance="outlined"
    class="card"
    [class.hovering]="hoveredCard === 2 && selectedCard !== 2"
    [class.selected]="selectedCard === 2"
    (click)="toggleCard(2)"
    (mouseenter)="hoveredCard = 2"
    (mouseleave)="hoveredCard = null"
  >
        <mat-card-header>
            <mat-card-title>Redes Sociais</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>texto</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button color="primary" routerLink="/contato">Saiba mais</button>
        </mat-card-actions>
    </mat-card>        
</div>
</section>
